@model IEnumerable<Movie.Models.Producer>

@{
    ViewData["Title"] = "List Of Producers";
}


<div class="row col-md-8 offset-md-2">

<table class="table">
    <thead>
        <tr class="text-center">
            
            <th>
                @Html.DisplayNameFor(model => model.Profilepictureurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td class="align-middle">
              <img src="@item.Profilepictureurl" class="rounded-circle" style="max-width:150px" alt="@item.FullName"/>
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Bio)
            </td class="align-middle">
            <td class="align-middle">
              
               <a class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
               <a class="btn btn-outline-info"><i class="fa-solid fa-list"></i> Details</a> 
               <a class="btn btn-danger text-white"><i class="fa-solid fa-calendar-xmark"></i> Delete</a> 

            </td>
        </tr>
}
    </tbody>
</table>
</div>