@model IEnumerable<Movie.Models.Actor>

@{
    ViewData["Title"] = "List Of actors";
}


<div class="row col-md-8 offset-md-2">

<table class="table">
    <thead>
        <tr class="text-center">
            
            <th>
                @Html.DisplayNameFor(model => model.Profilepictureurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td class="align-middle">
              <img src="@item.Profilepictureurl" class="rounded-circle" style="max-width:150px" alt="@item.FullName"/>
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Bio)
            </td class="align-middle">
            <td class="align-middle">
              
               <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
               <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-list"></i> Details</a> 
               <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-calendar-xmark"></i> Delete</a> 

            </td>
        </tr>
}
    </tbody>
</table>
</div>

<div class="text-white" style="position:fixed;right:25px;bottom:50px">
    <a asp-action="Create" asp-controller="Actors" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New Actor</a>
</div>